.logo {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: blueviolet;
}

.reset-password {
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

.reset-password > a {
  text-decoration: none;
}
