.container .title {
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5em 0;
  color: #363636;
}

.product-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-height: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
  font-weight: 700;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 1rem;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.content-table tbody tr.active-row {
  font-weight: 700;
  color: var(--primary-color);
}

button.btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;

  font-size: 1.3rem;
  margin: 0 0.5em;
  padding: 10px;
  border-radius: 5px;

  color: var(--primary-color);
}

button.btn:hover,
button.btn:active {
  color: var(--secondary-color);
}
